/* Fonts */
@font-face {
    font-family: 'nunito'; /* Überschrift Font*/
    src: url('../fonts/nunito-sans/NunitoSans-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;

}@font-face {
    font-family: 'monserrat'; /* Paragraph Font*/
    src: url('../fonts/montserrat/Montserrat-Light.otf') format('woff2');
    font-weight: normal;
    font-style: normal;

}
body{
    background-color: #fffdfb;
}
h1{
    font-family: "nunito";
   
}
p{
    font-family:"monserrat";
    font-size: 22px;
}
.textEnglish{
    color: #757373;
}
.conactDaten{
    max-width: 1000px;
}


/* ----------------------------------------------------------- Navbar --------------------------------------------------------- */

.logo{
    width: 400px;
    height: 80px;
}

.navbar-nav > li{
    font-size: 22px;
}


.navbarBag{
    width:35px;
    padding-bottom: 5px;
}


.logoMobile{
    display:none;
    width: 220px;
    height: 40px;
}

.searchbar{

}

.searchbar{
    display:none;
}

.navbarOwn > li{
    padding-right: 9px;
}

@media (max-width: 990px){
    .logoMobile{
        display: block;
    }
    .searchbar{
        display: block;
    }
    
}

@media (max-width: 1400px){
    .logo{
        display:none;
    }
    .logoMobile{
        display: block;
    }
}

/* ----------------------------------------------------------- Navbar --------------------------------------------------------- */